body {
  background-color: black;
  font-family: 'Amatic SC', cursive;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  box-sizing: border-box;
  max-width: 60rem;
  width: 100%;
  margin: auto;
  padding: 0 10px;
}
section#header {
  color: white;
  background: black;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: 0.8;
}
section#header img {
  height: 2rem;
}
section#header .container {
  position: relative;
}
.hamburger-nav {
  position: relative;
  float: right;
  /* Using this reversed logic makes me not have to set the original values a
      second time once unchecked */
}
.hamburger-nav nav {
  position: absolute;
  top: 3rem;
  margin-top: 3px;
  right: 0;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
  /* This will make a nice slide down affect for the main nav,
        using a tranform works well in this case due to the floating
        nature of the nav */
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
}
.hamburger-nav nav a,
.hamburger-nav nav label {
  font-size: 1.5rem;
  height: 1.7rem;
  display: block;
  padding: 0.85rem;
  color: #fff;
  background-color: #151515;
  box-shadow: inset 0 -1px #1d1d1d;
  /* Applying the transition affect to all due to using 4 seperate properties
          to get the slide affect to work properly */
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
.hamburger-nav nav a:focus,
.hamburger-nav nav label:focus,
.hamburger-nav nav a:hover,
.hamburger-nav nav label:hover {
  color: rgba(255, 255, 255, 0.5);
  background: #030303;
}
.hamburger-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.hamburger-nav .hamburger-toggle {
  position: absolute;
  top: 5px;
  right: 0;
  display: block;
  cursor: pointer;
  height: 21px;
  width: 25px;
}
.hamburger-nav .hamburger-toggle span {
  display: block;
  top: 8px;
  width: 25px;
  height: 5px;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  transition-duration: 0.2s;
  transition-delay: 0s;
}
.hamburger-nav .hamburger-toggle span::before,
.hamburger-nav .hamburger-toggle span::after {
  display: block;
  content: "";
  position: absolute;
  width: 25px;
  height: 5px;
  background-color: #fff;
  border-radius: 2px;
  transition-duration: 0.2s;
  transition-delay: 0s;
}
.hamburger-nav .hamburger-toggle span::before {
  margin-top: -8px;
}
.hamburger-nav .hamburger-toggle span::after {
  margin-top: 8px;
}
.hamburger-nav .hamburger-menu {
  display: none;
}
.hamburger-nav .hamburger-menu:checked ~ nav {
  transform: scaleY(1);
}
.hamburger-nav .hamburger-menu:checked ~ .hamburger-toggle span {
  width: 0;
  transition-duration: 0.2s;
}
.hamburger-nav .hamburger-menu:checked ~ .hamburger-toggle span::before,
.hamburger-nav .hamburger-menu:checked ~ .hamburger-toggle span::after {
  margin-top: 0px;
  transition-duration: 0.2s;
}
.hamburger-nav .hamburger-menu:checked ~ .hamburger-toggle span::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hamburger-nav .hamburger-menu:checked ~ .hamburger-toggle span:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.hamburger-nav .group-list a {
  padding-left: 2rem;
  background: #252525;
  box-shadow: inset 0 -1px #373737;
}
.hamburger-nav .group-list a:focus,
.hamburger-nav .group-list a:hover {
  background: #131313;
}
.hamburger-nav nav input[type="checkbox"]:not(:checked) + label + ul > li > a {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0;
}
.hamburger-nav nav input[type="checkbox"] + label > .fa-angle-right {
  float: right;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.hamburger-nav nav input[type="checkbox"]:checked + label > .fa-angle-right {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.banner {
  text-align: center;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.listing {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#b1 {
  background-image: url("../Content/backdrop-1.jpg");
  background-position: center top;
}
#b2 {
  background-image: url("../Content/backdrop-2.jpg");
  background-position: center top;
}
#b3 {
  background-image: url("../Content/backdrop-3.jpg");
  background-position: center top;
}
#b4 {
  background-image: url("../Content/backdrop-4.jpg");
  background-position: center top;
}
#b5 {
  background-image: url("../Content/backdrop-5.jpg");
  background-position: right bottom;
}
#b6 {
  background-image: url("../Content/backdrop-6.jpg");
  background-position: center top;
}
#b7 {
  background-image: url("../Content/backdrop-7.jpg");
  background-position: center top;
}
#b8 {
  background-image: url("../Content/backdrop-8.jpg");
  background-position: center top;
}
#b9 {
  background-image: url("../Content/backdrop-9.jpg");
  background-position: center top;
}
.plate {
  padding: 10rem 0;
  text-align: center;
}
#seattle-sessions {
  color: #ffffff;
  background-color: #575757;
}
#thunder {
  color: #f5d3df;
  background-color: #5da3c0;
}
#everywhere-is-somewhere {
  color: #ffffff;
  background-color: #af3237;
}
#fml {
  color: #7dcdc4;
  background-color: #f8ee6b;
}
#life-as-a-dog {
  color: #fbbf97;
  background-color: #f28964;
}
#what-if-it-is {
  color: #1afa89;
  background-color: #f9f9f9;
}
#west-ghost {
  color: #000000;
  background-color: #ed008c;
}
#eyes-shut {
  color: #eaeaea;
  background-color: #ad7b87;
}
#i-stopped-caring-in-96 {
  color: #e84b7b;
  background-color: #f8f8ed;
}
#k-flay {
  color: #ffffff;
  background-color: #8fad8e;
}
#single-and-famous {
  color: #fc0101;
  background-color: #e4e4e4;
}
#k-flay-presents-mashed-potatoes {
  color: #f2e54a;
  background-color: #4fc1b9;
}
.artwork {
  float: right;
  width: 50%;
}
.artwork > img {
  width: 100%;
}
.text {
  text-align: center;
  width: 50%;
  float: left;
}
